.authen-container {
	border: 2px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


@media screen and (max-width: 46.1875em) {
.login-container{
  width: 90%;
  
}
.register-container{
  width: 90%;
}
}